# Odoo default dependencies 
wheel
psycopg2-binary>=2.8
Babel
lxml
pytz
decorator
passlib
psutil
requests
Werkzeug
python-dateutil
XlsxWriter
xlrd
pypdf2
polib
Jinja2
MarkupSafe
docutils
num2words
pdf2image
qrcode
reportlab
python-stdnum
phonenumbers
openpyxl
PyPDF2
aiohttp
cryptography
pyjwt
zeep
